@page "/companies"
@using ActivationReport.Components
@using ActivationReport.Models
@using Microsoft.EntityFrameworkCore

<article>
    <h3>Управление компаниями</h3>

    @if (isEdit == false)
    {
        @if (companies != null && companies.Count > 0)
        {
            @foreach (var comp in companies.OrderBy(c => c.Name).ToList())
            {
                <div class="me-1 mb-1">                                      
                    <button class="btn btn-outline-success col-2 me-1" @onclick="() => {eCompany = comp; isEdit = true;}">Редактировать</button>
                    <button class="btn btn-danger col-1" @onclick="() => deleteCompany(comp)">Удалить</button>
                    <span class="ms-5 fs-5">@comp.Name</span>
                </div>
            }
        } 
        else
        {
            <div class="row">Нет данных по компаниям</div>           
        }
        <p class="row justify-content-between mx-1">
            <button class="btn btn-outline-primary col-3" @onclick="loadData">Обновить данные</button>
            <button class="btn btn-primary col-3" @onclick="() => isEdit = true">Создать новую компанию</button>
        </p>        
    } 
    else
    {
        <EditCompany @bind-Edit="isEdit" @bind-ECompany="eCompany" />
    }
</article>


@code {
    private bool isEdit = false;
    private Company eCompany = new Company
        {
            Cards = new List<Card>()
        };

    private List<Company> companies;

    private void loadData()
    {
        companies = Helpers.LoadCompaniesData();
    }

    private void deleteCompany(Company company)
    {
        using (var db = new AppDBContext())
        {
            db.Companies.Remove(company);
            db.SaveChanges();
            loadData();
        }
    }

    protected override async Task OnInitializedAsync() => loadData();
}