@page "/"
@using ActivationReport.Models
@using Microsoft.EntityFrameworkCore
@using System.Text

<article>
    <h3>Ежемесячные отчёты по активации блоков СКЗИ</h3>

    <p>Список компаний:</p>
    @if (companies != null || companies?.Count == 0)
    {
        <p class="align-items-start">
            @foreach (var company in companies.OrderBy(c => c.Name).ToList())
            {

                <label class="d-block fw-bold">
                    @company.Name
                </label>
            }
        </p>
    }
    else
    {
        <p>Нет компаний в базе данных</p>
    }

    <p class="row">
        <label class="col-2">Месяц отчёта</label>
        <input class="col-2" type="month" @bind="month" />
    </p>

    <p class="row align-items-center justify-content-center">
        <button class="btn btn-primary col-3" @onclick="pickFolder">Выбор папки для отчётов</button>
        @if (folderPath != null)
        {
            <label class="col-6">@folderPath</label>
            <button class="btn btn-outline-primary col-3" @onclick="() => global::Helpers.OpenFolder(folderPath)">Открыть папку с отчётами</button>
        }
    </p>   

    <p class="row justify-content-between">
        <input type="checkbox" id=month class="btn-check col-4" @bind="monthly" @onclick="changeMonthlyFolder" />
        <label for="month" class="btn btn-outline-warning col-4">Создавать папку с названием месяца</label>

        <input type="checkbox" id=mail class="btn-check col-3" @bind="sendMail" @onclick="changeSendMail" />
        <label for="mail" class="btn btn-outline-dark col-3">Отправлять на почту</label>

        @if (folderPath != null && companies != null && companies.Count > 0)
        {
            <button class="btn btn-success col-3" @onclick="createReports">Сформировать отчёт</button>
        }
    </p>    
</article>

@code
{
    private List<Company>? companies;
    private DateTime month = DateTime.Now;
    private string? folderPath = Preferences.Default.Get("MonthlyFolder", "");
    private bool monthly = Preferences.Default.Get("CreateMonthlyFolder", false);
    private bool sendMail = Preferences.Default.Get("SendByEmail", false);

    private void changeMonthlyFolder()
    {
        monthly = !monthly;
        Preferences.Default.Set("CreateMonthlyFolder", monthly);
    }

    private void changeSendMail()
    {
        sendMail = !sendMail;
        Preferences.Default.Set("SendByEmail", sendMail);
    }

    private async Task pickFolder() => folderPath = await Helpers.PickFolder("MonthlyFolder");

    private void createReports()
    {
        Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
        string pathToFile = folderPath + "\\" + (monthly ? month.ToString("yy_MM") + "\\" : "");
        if (monthly && !Directory.Exists(pathToFile))
        {
            Directory.CreateDirectory(pathToFile);
        }
        else
        {
            Application.Current.MainPage.DisplayAlert("Ошибка", "Директория этого месяца уже существует!", "Ок");
            return;
        }

        foreach(var company in companies)
        {
            int count = 0;            
            string fullPath = pathToFile + month.ToString("yy_MM") + "_" + company.Name + ".csv";

            using (var csvWriter = new StreamWriter(new FileStream(fullPath, FileMode.Create, FileAccess.Write, FileShare.Read), Encoding.GetEncoding(1251)))
            {
                csvWriter.WriteLine("\"Карта мастерской\";\"Дата запроса\";\"Дата ответа\";\"Наименование организации\";\"ОГРН\";\"ИНН\";\"Код региона по классификатору\";\"Населённый пункт\";\"Адрес\";\"Марка\";\"Модель\";\"Год выпуска\";\"Цвет\";\"Регистрационный номер\";\"VIN\";\"ПТС\";\"Серийный номер СКЗИ\";\"Серийный номер тахографа\";");
                using(var db = new AppDBContext())
                {
                    foreach (var card in company.Cards)
                    {
                        List<Activation> list;
                        if (company.Staff)
                        {
                            list = db.Activations
                                .Where(a => a.ActDate.Year == month.Year && a.ActDate.Month == month.Month)
                                //.Where(a => a.CardNumber.Substring(1, 16) == card.CardNumber).ToList();
                                .Where(a => a.CardNumber.Substring(1, 14) == card.CardNumber.Substring(0, 14)).ToList();
                        }
                        else
                        {
                            list = db.Activations
                                .Where(a => a.ActDate.Year == month.Year && a.ActDate.Month == month.Month)
                                .Where(a => a.CompanyId == Convert.ToInt32(card.CardNumber.Substring(3, 10))).ToList();                            
                        } 
                        foreach (var line in list)
                        {
                            csvWriter.WriteLine(line.ToString());
                        }

                        count += list.Count();
                    }
                }                
            }
            File.Move(fullPath, fullPath.Replace(".csv", "_" + count + ".csv"));
            
            if (company.Email != null && sendMail)
            {
                Services.SendEmail(company, fullPath.Replace(".csv", "_" + count + ".csv"), month);
            }
            count = 0;
        }
        if (sendMail)
        {
            Application.Current.MainPage.DisplayAlert("Уведомление", "Отчёты успешно сформированы и отправлены на почту!", "Ок");
        } 
        else
        {
            Application.Current.MainPage.DisplayAlert("Уведомление", "Отчёты успешно сформированы!", "Ок");
        }        
    }

    protected override async Task OnInitializedAsync() => companies = Helpers.LoadCompaniesData(true);
}
